service firebase.storage {
  match /b/friendlychat-3f190.appspot.com/o {
    match /{userId}/{timeStamp}/{fileName} {
        allow write: if request.auth.uid == userId;
        allow read;
      }
  }
}
